@font-face {
  font-family: "ProximaNova";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
}
